.form-group
  = f.input :content, autofocus: true, required: true, label: false,
      input_html: { rows: 5, class: 'form-control', placeholder: 'Post...' }
.form-group
  .col-md-3
    = f.input :language_id, collection: Language.all, label_method: :name, value_method: :id, label: "Post's language", selected: Language.first.id, input_html: { class: 'form-control' }
  .col-md-3
    = f.input :desired_language_id, collection: Language.all, label_method: :name, value_method: :id, label: 'Help me translate to', selected: Language.first.id, input_html: { class: 'form-control' }

  .col-sm-12
    .searchable-container
      = f.label :tag_ids, "Sellect categories:", class: 'control-label pull-left'
      = f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |b|
        .items.col-xs-4.col-sm-4.col-md-2.col-lg-2
          .info-block.block-info.clearfix
            .square-box.pull-left
              %span.glyphicon.glyphicon-tags.glyphicon-lg
            .btn-group.bizmoduleselect{"data-toggle" => "buttons"}
              = b.label(class: "btn btn-default", title: b.text) do
                = b.check_box(class: "check_box")
                %h5=truncate(b.text, length: 10)
