.row
  .col-sm-9
    %h2 Posts
    - @posts.each.with_index do |post, index|
      .div.post-box
        .post-header.small
          %span.post-language
            %i.fa.fa-flag{"aria-hidden" => "true"}
            = link_to post.language.name, posts_path(q: {language_id_eq: post.language.id})
          %span.post-author
            Post by
            = link_to post.user.full_name, posts_path(q: {user_id_eq: post.user.id})
          |
          %span.translated-count
            = link_to "#{post.desired_language.name} translation(#{post.translated_posts.count})", post_path(post)
          |
          %span.timestamp= "#{time_ago_in_words(post.created_at)} ago"
        .post-body
          %p= highlight(truncate(post.content, length: 200), params[:q].try(:[], :content_cont_any),  highlighter: '<em>\1</em>')
          = link_to "Contribute translation", post_path(post)
        .post-footer
          %ul
            - post.tags.each do |tag|
              %li= link_to tag.name, posts_path(q: {tags_id_eq: tag.id})
  .col-sm-3.tags-area
    %h2 Tags
    %ul
      - @all_tags.each do |tag|
        %li= link_to tag.name, posts_path(q: {tags_id_eq: tag.id})
